@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title> AET COMPANY</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css1/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css1/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css1/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css1/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="~/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

 /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
<body class="main-layout ">

    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>

        <!-- header inner -->

        <div class="header ">

            <div class="container ">





                <div class="row">

                    <div class="row ">

                        <div class=" menu-area ">
                            <div class="limit-box">

                                <nav class="main-menu fixed-top  " style="background-color:black">

                                    <ul class="menu-area-main  ">

                                        <a href="~/Login/Index">
                                        <li class="logo"><img style="max-width:80px;max-height:80px; margin-left:50px; margin-top:2px" src="~/img/bg-1.png" /> </li></a>
                                        <li class="active mt-2"> <a href="~/Login/Index">Accueil</a> </li>
                                        <li class="mt-2"> <a href="~/Login/Apropos">A Propos</a> </li>
                                        <li class="mt-2"><a href="~/Login/Nos_services">Nos Services </a></li>
                                        <li class="mt-2"><a href="~/Login/Equipe">Equipe</a></li>
                                        <li class="mt-2"><a href="~/Login/Contact">Contact</a></li>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                                        <a href="Login/Login" style="color:greenyellow" class="btn btn-outline-success ">Se Connecter</a>

                                    </ul>
                                </nav>
                            </div>
                        </div>




                    </div>

                </div>

            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->

    <div class="about_img">
        <figure><img src="~/images/44.jpeg" alt="img" style="width:3300px;height:450px;" /></figure>
    </div>
    <!-- offer -->
    <div id="services" class="offer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>NOS <strong class="black"> SERVICES</strong></h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- about -->
        <div id="about" class="about">
            <div class="container">
                <div class="row">


                    <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                        <div class="about_box">

                            <p>
                                Conformément aux Bonnes Pratiques d’Expérimentation (BPE) et autres normes nationales et internationales. La Société AETC, vous offre un service de qualité pour tester vos produits phytopharmaceutiques (produits phytosanitaires, semences, fertilisants, biostimulants…).<br />
                                En effet, notre personnel qualifié dans le domaine d’expérimentation saura répondre à vos attentes et veillera à ce que vos produits soient correctement testés à travers des essais contrôlés et réalisés dans des conditions géographiques et climatiques appropriées avec une traçabilité complète.
                            </p>

                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                        <div class="about_img">
                            <figure><img src="~/images/NosServices1.jpg" alt="img" /></figure>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <h2>Différents types d’essais et services sont entrepris par <strong class="black"> AET Company</strong></h2>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div>
                    <div class="about_box">

                        <p>
                            <h3>

                                - Essais d’évaluation biologique de nouveaux produits et de programme de protection dans le cadre des BPE .<br />
                                <hr />
                            </h3>
                            <h3>
                                - Essais d’efficacité des biostimulants.<br />
                                <hr />
                            </h3>
                            <h3>
                                - Essais d’efficacité des fertilisants .<br />
                                <hr />
                            </h3>

                            <h3>
                                - Essais de démonstration et développement des semences .<br />
                                <hr />
                            </h3>
                            <h3>

                                - Préparation et Suivi des dossiers d’homologation de nouveaux produits ou de nouveaux usages.
                            </h3>
                        </p>
                    </div>
                </div>

            </div>

        </div>



        <div class="offer-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                        <div class="offer_box">

                            <figure><img src="~/images/77.jpeg" alt="img" /></figure>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                        <div class="offer_box">

                            <figure><img src="~/images/66.jpeg" alt="img" /></figure>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                        <div class="offer_box">

                            <figure><img src="~/images/55.jpeg" alt="img" /></figure>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- end offer -->
    <!-- about -->
    <div id="product" class="product">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <h2>Nos <strong class="black"> équipements</strong></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="product_box">
                                <figure>
                                    <img src="~/images/Image10.jpg" alt="#" />

                                </figure>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="product_box">
                                <figure>
                                    <img src="~/images/Image3.jpg" alt="#" />

                                </figure>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="product_box">
                                <figure>
                                    <img src="~/images/Image20.jpg" alt="#" />

                                </figure>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="product_box">
                                <figure>
                                    <img src="~/images/Image18.jpg" alt="#" />

                                </figure>
                            </div>
                        </div>
                        @*<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="product_box">
                <figure>
                    <img src="~/images/Image12.jpg" alt="#" />

                </figure>
            </div>
        </div>*@
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="product_box">
                                <figure>
                                    <img src="~/images/Image13.jpg" alt="#" />

                                </figure>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="product_box">
                                <figure>
                                    <img src="~/images/Image6.jpg" alt="#" />

                                </figure>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="product_box">
                                <figure>
                                    <img src="~/images/Image7.jpg" alt="#" />

                                </figure>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="product_box">
                                <figure>
                                    <img src="~/images/Image8.jpg" alt="#" />

                                </figure>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="product_box">
                                <figure>
                                    <img src="~/images/Image17.jpg" alt="#" />

                                </figure>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="product_box">
                                <figure>
                                    <img src="~/images/Image21.jpg" alt="#" />

                                </figure>
                            </div>
                        </div>
                        @*<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="product_box">
                <figure>
                    <img src="~/images/Image9.jpg" alt="#" />

                </figure>
            </div>
        </div>*@
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="product_box">
                                <figure>
                                    <img src="~/images/Image14.jpg" alt="#" />

                                </figure>
                            </div>
                        </div>
                        
                        <div class="col-xl-12 col-lg-12 col-md-5 col-sm-12">
                            <div class="product_box">
                                <figure>
                                    <img src="~/images/Image4.jpg" alt="#" />

                                </figure>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end about -->
    <!-- end clients -->
    <!-- footer -->
    <!--  footer -->
    <footr>


        <div class="copyright">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Application gestion d'essais</p>
            </div>
        </div>
    </footr>

    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/js1/jquery.min.js"></script>
    <script src="~/js1/popper.min.js"></script>
    <script src="~/js1/bootstrap.bundle.min.js"></script>
    <script src="~/js1/jquery-3.0.0.min.js"></script>
    <script src="~/js1/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/js1/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js1/custom.js"></script>
    <!-- javascript -->
    <script src="~/js1/owl.carousel.js"></script>
    <script src="~/https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {

                $(this).addClass('transition');
            }, function () {

                $(this).removeClass('transition');
            });
        });
    </script>

</body>

</html>
